In [ ]:
import pandas as pd
from datetime import datetime
import numpy as np

In [ ]:
athletes_df = pd.read_csv('athletes.csv')

In [ ]:
medalist_df = pd.read_csv('medallists.csv')

In [ ]:
athletes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11113 entries, 0 to 11112
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   code                11113 non-null  int64
 1   current             11113 non-null  bool
 2   name                11113 non-null  object
 3   name_short          11110 non-null  object
 4   name_tv             11110 non-null  object
 5   gender              11113 non-null  object
 6   function            11113 non-null  object
 7   country_code        11113 non-null  object
 8   country             11113 non-null  object
 9   country_long        11113 non-null  object
 10  nationality         11110 non-null  object
 11  nationality_long    11110 non-null  object
 12  nationality_code    11110 non-null  object
 13  height              11110 non-null  float64
 14  weight              11108 non-null  float64
 15  disciplines         11113 non-null  object
 16  events              11113 non-null  object
 17  birth_date          11113 non-null  object
 18  birth_place         8727 non-null   object
 19  birth_country       9475 non-null   object
 20  residence_place     6804 non-null   object
 21  residence_country   8288 non-null   object
 22  nickname            2966 non-null   object
 23  hobbies             4207 non-null   object
 24  occupation          9584 non-null   object
 25  education           5538 non-null   object
 26  family              5561 non-null   object
 27  lang                10605 non-null  object
 28  coach               8222 non-null   object
 29  reason              5846 non-null   object
 30  hero                3315 non-null   object
 31  influence           2155 non-null   object
 32  philosophy          2783 non-null   object
 33  sporting_relatives  2518 non-null   object
 34  ritual              857 non-null    object
 35  other_sports        1060 non-null   object
dtypes: bool(1), float64(2), int64(1), object(32)
memory usage: 3.0+ MB

In [ ]:
athletes_df.head(10)

,code,current,name,name_short,name_tv,gender,function,country_code,country,country_long,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
0,1532872,True,ALEKSANYAN Artur,ALEKSANYAN A,Artur ALEKSANYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Father, Gevorg Aleksanyan","Armenian, English, Russian","Gevorg Aleksanyan (ARM), father",He followed his father and his uncle into the ...,"Footballer Zinedine Zidane (FRA), World Cup wi...","His father, Gevorg Aleksanyan","""Wrestling is my life."" (mediamax.am. 18 May 2...",NaN,NaN,NaN
1,1532873,True,AMOYAN Malkhas,AMOYAN M,Malkhas AMOYAN,Male,Athlete,ARM,Armenia,Armenia,...,NaN,Armenian,NaN,NaN,NaN,NaN,"""To become a good athlete, you first have to b...","Uncle, Roman Amoyan (wrestling), 2008 Olympic ...",NaN,NaN
2,1532874,True,GALSTYAN Slavik,GALSTYAN S,Slavik GALSTYAN,Male,Athlete,ARM,Armenia,Armenia,...,NaN,Armenian,Personal: Martin Alekhanyan (ARM).<br>National...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1532944,True,HARUTYUNYAN Arsen,HARUTYUNYAN A,Arsen HARUTYUNYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Wife, Diana (married October 2022). Daughter, ...",Armenian,National: Habetnak Kurghinyan,While doing karate he noticed wrestlers traini...,"Wrestler Armen Nazaryan (ARM, BUL), two-time O...",NaN,"“Nothing is impossible, set goals in front of ...",NaN,NaN,NaN
4,1532945,True,TEVANYAN Vazgen,TEVANYAN V,Vazgen TEVANYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Wife, Sona (married November 2023)","Armenian, Russian",National: Habetnak Kurghinyan (ARM),“My family did not like wrestling very much. A...,NaN,NaN,NaN,NaN,NaN,NaN
5,1532951,True,ARENAS Lorena,ARENAS L,Lorena ARENAS,Female,Athlete,COL,Colombia,Colombia,...,"Father, Jose Otoniel. Mother, Maria Rudy. Has ...",Spanish,Personal: Brent Vallance (AUS),NaN,"Race walker Luis Fernando Lopez (COL), four-ti...",NaN,NaN,NaN,In competition she wears a ring or earrings he...,NaN
6,1533112,True,McKENZIE Ashley,McKENZIE A,Ashley McKENZIE,Male,Athlete,JAM,Jamaica,Jamaica,...,"One daughter, Lana-Rose, who lives in France",English,Personal and National: Luke Preston (GBR),"""I was thrown over [an argument about] a Pokem...","Boxer Muhammad Ali, born Cassius Clay (USA), f...","""My coach Luke Preston. We've been a team for ...",NaN,NaN,NaN,NaN
7,1533136,True,BASS BITTAYE Gina Mariam,BASS BITTAYE GM,Gina Mariam BASS BITTAYE,Female,Athlete,GAM,Gambia,Gambia,...,"Husband, Mustapha Bittaye - physical education...","English, French",Personal: Christophe Belliard (FRA),“I started running when I was in primary schoo...,"Sprinter Shelly-Ann Fraser-Pryce (JAM), three ...",NaN,"""If you believe in yourself, never be discoura...",NaN,NaN,NaN
8,1533176,True,CAMARA Ebrahima,CAMARA E,Ebrahima CAMARA,Male,Athlete,GAM,Gambia,Gambia,...,Married. One daughter. Has three brothers,"Arabic, English, French, Mandinka, Wolof",Personal: Christophe Belliard (FRA),"""I love running and I was fast a child."" (Athl...","Sprinter Gina Mariam Bass Bittaye (GAM), two-t...","Momodou Lamin Kujabi, a former international a...","""What does not kill you makes you stronger."" (...",NaN,NaN,NaN
9,1533188,True,RUEDA SANTOS Lizeth,RUEDA SANTOS L,Lizeth RUEDA SANTOS,Female,Athlete,MEX,Mexico,Mexico,...,NaN,Spanish,Personal: Eugenio Chimal (MEX),Was a competitive swimmer from age 12 and went...,NaN,NaN,NaN,NaN,NaN,Competed in marathon swimming at London 2012. ...

In [ ]:
athletes_df[athletes_df['country']=='']

Empty DataFrame
Columns: [code, current, name, name_short, name_tv, gender, function, country_code, country, country_long, nationality, nationality_long, nationality_code, height, weight, disciplines, events, birth_date, birth_place, birth_country, residence_place, residence_country, nickname, hobbies, occupation, education, family, lang, coach, reason, hero, influence, philosophy, sporting_relatives, ritual, other_sports]
Index: []

[0 rows x 36 columns]

In [ ]:
athletes_df['country'].unique().shape

(206,)

In [ ]:
athletes_df['country'] = athletes_df['country'].replace('United States', 'USA')
athletes_df['country'] = athletes_df['country'].replace('Great Britain', 'UK')
athletes_df['country'] = athletes_df['country'].replace('UA Emirates', 'United Arab Emirates')
athletes_df['country'] = athletes_df['country'].replace('AIN', 'Belarus')
athletes_df['country'] = athletes_df['country'].replace('AIN', 'Belarus')
athletes_df['country'] = athletes_df['country'].replace('Antigua and Barbuda', 'Antigua')
athletes_df['country'] = athletes_df['country'].replace('Antigua and Barbuda', 'Antigua')

In [ ]:
athlete_info = athletes_df[['code','name','gender','country_code','country','height','weight']]

In [ ]:
athlete_info.head(10)

,code,name,gender,country_code,country,height,weight
0,1532872,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0
1,1532873,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0
2,1532874,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0
3,1532944,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0
4,1532945,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0
5,1532951,ARENAS Lorena,Female,COL,Colombia,162.0,0.0
6,1533112,McKENZIE Ashley,Male,JAM,Jamaica,0.0,0.0
7,1533136,BASS BITTAYE Gina Mariam,Female,GAM,Gambia,161.0,0.0
8,1533176,CAMARA Ebrahima,Male,GAM,Gambia,178.0,0.0
9,1533188,RUEDA SANTOS Lizeth,Female,MEX,Mexico,0.0,0.0

In [ ]:
# athlete_info['disciplines']=athlete_info['disciplines']

In [ ]:
athlete_info.shape

(11113, 7)

In [ ]:
medalist_df.head(10)

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
1,2024-07-27,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520,NaN,True
2,2024-07-27,Bronze Medal,3.0,van AERT Wout,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147,NaN,True
3,2024-07-27,Gold Medal,1.0,BROWN Grace,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173,NaN,True
4,2024-07-27,Silver Medal,2.0,HENDERSON Anna,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525,NaN,True
5,2024-07-27,Bronze Medal,3.0,DYGERT Chloe,Female,USA,United States,United States of America,USA,United States,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1997-01-01,1955079,NaN,True
6,2024-07-27,Gold Medal,1.0,OH Sanguk,Male,KOR,Korea,Republic of Korea,KOR,Korea,...,NaN,NaN,Fencing,Men's Sabre Individual,HATH,/en/paris-2024/results/fencing/men-s-sabre-ind...,1996-09-30,1927149,NaN,True
7,2024-07-27,Silver Medal,2.0,FERJANI Fares,Male,TUN,Tunisia,Tunisia,TUN,Tunisia,...,NaN,NaN,Fencing,Men's Sabre Individual,HATH,/en/paris-2024/results/fencing/men-s-sabre-ind...,1997-07-22,1937783,NaN,True
8,2024-07-27,Bronze Medal,3.0,SAMELE Luigi,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Fencing,Men's Sabre Individual,HATH,/en/paris-2024/results/fencing/men-s-sabre-ind...,1987-07-25,1924595,NaN,True
9,2024-07-27,Gold Medal,1.0,KONG Man Wai Vivian,Female,HKG,"Hong Kong, China","Hong Kong, China",HKG,"Hong Kong, China",...,NaN,NaN,Fencing,Women's Épée Individual,HATH,/en/paris-2024/results/fencing/women-s-epee-in...,1994-02-08,1963262,NaN,True

In [ ]:
medalists_info = medalist_df[['medal_type','event','birth_date','code_athlete','discipline']].copy()

In [ ]:
medalists_info.head(10)

,medal_type,event,birth_date,code_athlete,discipline
0,Gold Medal,Men's Individual Time Trial,2000-01-25,1903136,Cycling Road
1,Silver Medal,Men's Individual Time Trial,1996-07-25,1923520,Cycling Road
2,Bronze Medal,Men's Individual Time Trial,1994-09-15,1903147,Cycling Road
3,Gold Medal,Women's Individual Time Trial,1992-07-07,1940173,Cycling Road
4,Silver Medal,Women's Individual Time Trial,1998-11-14,1912525,Cycling Road
5,Bronze Medal,Women's Individual Time Trial,1997-01-01,1955079,Cycling Road
6,Gold Medal,Men's Sabre Individual,1996-09-30,1927149,Fencing
7,Silver Medal,Men's Sabre Individual,1997-07-22,1937783,Fencing
8,Bronze Medal,Men's Sabre Individual,1987-07-25,1924595,Fencing
9,Gold Medal,Women's Épée Individual,1994-02-08,1963262,Fencing

In [ ]:
medalists_info.rename(columns={'code_athlete':'code'},inplace=True)

In [ ]:
medalists_info.head(5)

,medal_type,event,birth_date,code,discipline
0,Gold Medal,Men's Individual Time Trial,2000-01-25,1903136,Cycling Road
1,Silver Medal,Men's Individual Time Trial,1996-07-25,1923520,Cycling Road
2,Bronze Medal,Men's Individual Time Trial,1994-09-15,1903147,Cycling Road
3,Gold Medal,Women's Individual Time Trial,1992-07-07,1940173,Cycling Road
4,Silver Medal,Women's Individual Time Trial,1998-11-14,1912525,Cycling Road

In [ ]:
common_df = pd.merge(medalists_info,athlete_info , on='code', how='right')

In [ ]:
common_df.head(10)

,medal_type,event,birth_date,code,discipline,name,gender,country_code,country,height,weight
0,Silver Medal,Men's Greco-Roman 97kg,1991-10-21,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0
1,Bronze Medal,Men's Greco-Roman 77kg,1999-01-22,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0
2,NaN,NaN,NaN,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0
3,NaN,NaN,NaN,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0
4,NaN,NaN,NaN,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0
5,NaN,NaN,NaN,1532951,NaN,ARENAS Lorena,Female,COL,Colombia,162.0,0.0
6,NaN,NaN,NaN,1533112,NaN,McKENZIE Ashley,Male,JAM,Jamaica,0.0,0.0
7,NaN,NaN,NaN,1533136,NaN,BASS BITTAYE Gina Mariam,Female,GAM,Gambia,161.0,0.0
8,NaN,NaN,NaN,1533176,NaN,CAMARA Ebrahima,Male,GAM,Gambia,178.0,0.0
9,NaN,NaN,NaN,1533188,NaN,RUEDA SANTOS Lizeth,Female,MEX,Mexico,0.0,0.0

In [ ]:
common_df['discipline'].isnull().sum()

9059

In [ ]:
common_df.shape

(11374, 11)

In [ ]:
common_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11374 entries, 0 to 11373
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   medal_type    2315 non-null   object
 1   event         2315 non-null   object
 2   birth_date    2315 non-null   object
 3   code          11374 non-null  int64
 4   discipline    2315 non-null   object
 5   name          11374 non-null  object
 6   gender        11374 non-null  object
 7   country_code  11374 non-null  object
 8   country       11374 non-null  object
 9   height        11371 non-null  float64
 10  weight        11369 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 977.6+ KB

In [ ]:
common_df.rename(columns={'medal_type':'Medal','gender':'Sex','discipline':'Sport','name':'Name'},inplace=True)

In [ ]:
common_df.head(10)

,Medal,event,birth_date,code,Sport,Name,Sex,country_code,country,height,weight
0,Silver Medal,Men's Greco-Roman 97kg,1991-10-21,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0
1,Bronze Medal,Men's Greco-Roman 77kg,1999-01-22,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0
2,NaN,NaN,NaN,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0
3,NaN,NaN,NaN,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0
4,NaN,NaN,NaN,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0
5,NaN,NaN,NaN,1532951,NaN,ARENAS Lorena,Female,COL,Colombia,162.0,0.0
6,NaN,NaN,NaN,1533112,NaN,McKENZIE Ashley,Male,JAM,Jamaica,0.0,0.0
7,NaN,NaN,NaN,1533136,NaN,BASS BITTAYE Gina Mariam,Female,GAM,Gambia,161.0,0.0
8,NaN,NaN,NaN,1533176,NaN,CAMARA Ebrahima,Male,GAM,Gambia,178.0,0.0
9,NaN,NaN,NaN,1533188,NaN,RUEDA SANTOS Lizeth,Female,MEX,Mexico,0.0,0.0

In [ ]:
common_df.shape

(11374, 11)

In [ ]:
common_df['birth_date']=pd.to_datetime(common_df['birth_date'])

In [ ]:
common_df.head(5)

,Medal,event,birth_date,code,Sport,Name,Sex,country_code,country,height,weight
0,Silver Medal,Men's Greco-Roman 97kg,1991-10-21,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0
1,Bronze Medal,Men's Greco-Roman 77kg,1999-01-22,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0
2,NaN,NaN,NaT,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0
3,NaN,NaN,NaT,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0
4,NaN,NaN,NaT,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0

In [ ]:
current_year = datetime.now().year
common_df['age'] = current_year - common_df['birth_date'].dt.year

In [ ]:
common_df.head(5)

,Medal,event,birth_date,code,Sport,Name,Sex,country_code,country,height,weight,age
0,Silver Medal,Men's Greco-Roman 97kg,1991-10-21,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0,33.0
1,Bronze Medal,Men's Greco-Roman 77kg,1999-01-22,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0,25.0
2,NaN,NaN,NaT,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0,NaN
3,NaN,NaN,NaT,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0,NaN
4,NaN,NaN,NaT,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0,NaN

In [ ]:
common_df.drop(columns=['birth_date'],inplace = True)

In [ ]:
common_df

,Medal,event,code,Sport,Name,Sex,country_code,country,height,weight,age
0,Silver Medal,Men's Greco-Roman 97kg,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0,33.0
1,Bronze Medal,Men's Greco-Roman 77kg,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0,25.0
2,NaN,NaN,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0,NaN
3,NaN,NaN,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0,NaN
4,NaN,NaN,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11369,NaN,NaN,4986655,NaN,ADA ETO Sefora,Female,GEQ,Equatorial Guinea,165.0,0.0,NaN
11370,NaN,NaN,9460001,NaN,LIUZZI Emanuela,Female,ITA,Italy,0.0,0.0,NaN
11371,Gold Medal,4 x 400m Relay Mixed,1972077,Athletics,BOERS Isayah,Male,NED,Netherlands,NaN,NaN,25.0
11372,Bronze Medal,Jumping Team,1899865,Equestrian,STAUT Kevin,Male,FRA,France,NaN,NaN,44.0
11373,Bronze Medal,Men's 4 x 400m Relay,1924402,Athletics,CARVELL Charlie,Male,GBR,UK,NaN,NaN,20.0

In [ ]:
common_df['height']=common_df['height'].astype(float)
common_df['weight']=common_df['weight'].astype(float)
common_df['age']=common_df['age'].astype(float)

In [ ]:
common_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11374 entries, 0 to 11373
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Medal         2315 non-null   object
 1   event         2315 non-null   object
 2   code          11374 non-null  int64
 3   Sport         2315 non-null   object
 4   Name          11374 non-null  object
 5   Sex           11374 non-null  object
 6   country_code  11374 non-null  object
 7   country       11374 non-null  object
 8   height        11371 non-null  float64
 9   weight        11369 non-null  float64
 10  age           2315 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 977.6+ KB

In [ ]:
common_df['City'] = 'Paris'

In [ ]:
common_df.head(10)

,Medal,event,code,Sport,Name,Sex,country_code,country,height,weight,age,City
0,Silver Medal,Men's Greco-Roman 97kg,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0,33.0,Paris
1,Bronze Medal,Men's Greco-Roman 77kg,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0,25.0,Paris
2,NaN,NaN,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0,NaN,Paris
3,NaN,NaN,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0,NaN,Paris
4,NaN,NaN,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0,NaN,Paris
5,NaN,NaN,1532951,NaN,ARENAS Lorena,Female,COL,Colombia,162.0,0.0,NaN,Paris
6,NaN,NaN,1533112,NaN,McKENZIE Ashley,Male,JAM,Jamaica,0.0,0.0,NaN,Paris
7,NaN,NaN,1533136,NaN,BASS BITTAYE Gina Mariam,Female,GAM,Gambia,161.0,0.0,NaN,Paris
8,NaN,NaN,1533176,NaN,CAMARA Ebrahima,Male,GAM,Gambia,178.0,0.0,NaN,Paris
9,NaN,NaN,1533188,NaN,RUEDA SANTOS Lizeth,Female,MEX,Mexico,0.0,0.0,NaN,Paris

In [ ]:
common_df['Year']=2024

In [ ]:
common_df.head(10)

,Medal,event,code,Sport,Name,Sex,country_code,country,height,weight,age,City,Year
0,Silver Medal,Men's Greco-Roman 97kg,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0,33.0,Paris,2024
1,Bronze Medal,Men's Greco-Roman 77kg,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0,25.0,Paris,2024
2,NaN,NaN,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024
3,NaN,NaN,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024
4,NaN,NaN,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024
5,NaN,NaN,1532951,NaN,ARENAS Lorena,Female,COL,Colombia,162.0,0.0,NaN,Paris,2024
6,NaN,NaN,1533112,NaN,McKENZIE Ashley,Male,JAM,Jamaica,0.0,0.0,NaN,Paris,2024
7,NaN,NaN,1533136,NaN,BASS BITTAYE Gina Mariam,Female,GAM,Gambia,161.0,0.0,NaN,Paris,2024
8,NaN,NaN,1533176,NaN,CAMARA Ebrahima,Male,GAM,Gambia,178.0,0.0,NaN,Paris,2024
9,NaN,NaN,1533188,NaN,RUEDA SANTOS Lizeth,Female,MEX,Mexico,0.0,0.0,NaN,Paris,2024

In [ ]:
common_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11374 entries, 0 to 11373
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Medal         2315 non-null   object
 1   event         2315 non-null   object
 2   code          11374 non-null  int64
 3   Sport         2315 non-null   object
 4   Name          11374 non-null  object
 5   Sex           11374 non-null  object
 6   country_code  11374 non-null  object
 7   country       11374 non-null  object
 8   height        11371 non-null  float64
 9   weight        11369 non-null  float64
 10  age           2315 non-null   float64
 11  City          11374 non-null  object
 12  Year          11374 non-null  int64
dtypes: float64(3), int64(2), object(8)
memory usage: 1.1+ MB

In [ ]:
common_df['Season']='Summer'

In [ ]:
common_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11374 entries, 0 to 11373
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Medal         2315 non-null   object
 1   event         2315 non-null   object
 2   code          11374 non-null  int64
 3   Sport         2315 non-null   object
 4   Name          11374 non-null  object
 5   Sex           11374 non-null  object
 6   country_code  11374 non-null  object
 7   country       11374 non-null  object
 8   height        11371 non-null  float64
 9   weight        11369 non-null  float64
 10  age           2315 non-null   float64
 11  City          11374 non-null  object
 12  Year          11374 non-null  int64
 13  Season        11374 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 1.2+ MB

In [ ]:
common_df['Medal'] = common_df['Medal'].replace({'Gold Medal': 'Gold', 'Silver Medal': 'Silver', 'Bronze Medal': 'Bronze'})

In [ ]:
common_df.head()

,Medal,event,code,Sport,Name,Sex,country_code,country,height,weight,age,City,Year,Season
0,Silver,Men's Greco-Roman 97kg,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0,33.0,Paris,2024,Summer
1,Bronze,Men's Greco-Roman 77kg,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0,25.0,Paris,2024,Summer
2,NaN,NaN,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer
3,NaN,NaN,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer
4,NaN,NaN,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer

In [ ]:
# common_df[common_df['Team']=="Türkiye"]

In [ ]:
common_df['Sport'].isnull().sum()

9059

In [ ]:
common_df['country'] = common_df['country'].replace('United States', 'USA')
common_df['country'] = common_df['country'].replace('Great Britain', 'UK')
common_df['country'] = common_df['country'].replace('UA Emirates', 'United Arab Emirates')
common_df['country'] = common_df['country'].replace('AIN', 'Belarus')
# common_df['country'] = common_df['country'].replace('AIN', 'Belarus')
common_df['country'] = common_df['country'].replace('Antigua and Barbuda', 'Antigua')
common_df['country'] = common_df['country'].replace('Bosnia & Herzegovina', 'Bosnia and Herzegovina')
common_df['country'] = common_df['country'].replace('Virgin Islands, B', 'Virgin Islands, British')
common_df['country'] = common_df['country'].replace('Brunei Darussalam', 'Brunei')
common_df['country'] = common_df['country'].replace('Cabo Verde', 'Cape Verde')
common_df['country'] = common_df['country'].replace('Centr Afric Re', 'Central African Republic')
common_df['country'] = common_df['country'].replace('DR Congo', 'Democratic Republic of the Congo')
common_df['country'] = common_df['country'].replace('Chinese Taipei', 'Taiwan')
common_df['country'] = common_df['country'].replace('IR Iran', 'Iran')
common_df['country'] = common_df['country'].replace("Côte d'Ivoire", "Ivory Coast")
common_df['country'] = common_df['country'].replace('StVincent&Grenadines', 'Vincent')
# common_df['country'] = common_df['country'].replace("Côte d'Ivoire", "Ivory Coast")
common_df['country'] = common_df['country'].replace("Türkiye", "Turkey")
common_df['country'] = common_df['country'].replace('DPR Korea', 'North Korea')
common_df['country'] = common_df['country'].replace('Korea', 'South Korea')
common_df['country'] = common_df['country'].replace('Congo', 'Republic of Congo')

In [ ]:
common_df['Notes']=np.nan

In [ ]:
common_df['Games']='2024'+" "+'Summer'

In [ ]:
common_df.head(10)

,Medal,event,code,Sport,Name,Sex,country_code,country,height,weight,age,City,Year,Season,Notes,Games
0,Silver,Men's Greco-Roman 97kg,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0,33.0,Paris,2024,Summer,NaN,2024 Summer
1,Bronze,Men's Greco-Roman 77kg,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0,25.0,Paris,2024,Summer,NaN,2024 Summer
2,NaN,NaN,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
3,NaN,NaN,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
4,NaN,NaN,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
5,NaN,NaN,1532951,NaN,ARENAS Lorena,Female,COL,Colombia,162.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
6,NaN,NaN,1533112,NaN,McKENZIE Ashley,Male,JAM,Jamaica,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
7,NaN,NaN,1533136,NaN,BASS BITTAYE Gina Mariam,Female,GAM,Gambia,161.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
8,NaN,NaN,1533176,NaN,CAMARA Ebrahima,Male,GAM,Gambia,178.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
9,NaN,NaN,1533188,NaN,RUEDA SANTOS Lizeth,Female,MEX,Mexico,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer

In [ ]:
common_df['Sport']

0         Wrestling
1         Wrestling
2               NaN
3               NaN
4               NaN
            ...
11369           NaN
11370           NaN
11371     Athletics
11372    Equestrian
11373     Athletics
Name: Sport, Length: 11374, dtype: object

In [ ]:
common_df['Sport'].isnull().sum()

9059

In [ ]:
# common_df['disciplines'] = common_df['disciplines'].str.replace(r'[\[\]\']', '', regex=True)

In [ ]:
common_df.rename(columns={'country_code':'NOC','country':'Team'},inplace=True)

In [ ]:
common_df.head(10)

,Medal,event,code,Sport,Name,Sex,NOC,Team,height,weight,age,City,Year,Season,Notes,Games
0,Silver,Men's Greco-Roman 97kg,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0,33.0,Paris,2024,Summer,NaN,2024 Summer
1,Bronze,Men's Greco-Roman 77kg,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0,25.0,Paris,2024,Summer,NaN,2024 Summer
2,NaN,NaN,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
3,NaN,NaN,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
4,NaN,NaN,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
5,NaN,NaN,1532951,NaN,ARENAS Lorena,Female,COL,Colombia,162.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
6,NaN,NaN,1533112,NaN,McKENZIE Ashley,Male,JAM,Jamaica,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
7,NaN,NaN,1533136,NaN,BASS BITTAYE Gina Mariam,Female,GAM,Gambia,161.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
8,NaN,NaN,1533176,NaN,CAMARA Ebrahima,Male,GAM,Gambia,178.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer
9,NaN,NaN,1533188,NaN,RUEDA SANTOS Lizeth,Female,MEX,Mexico,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer

In [ ]:
common_df.shape

(11374, 16)

In [ ]:
common_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11374 entries, 0 to 11373
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Medal   2315 non-null   object
 1   event   2315 non-null   object
 2   code    11374 non-null  int64
 3   Sport   2315 non-null   object
 4   Name    11374 non-null  object
 5   Sex     11374 non-null  object
 6   NOC     11374 non-null  object
 7   Team    11374 non-null  object
 8   height  11371 non-null  float64
 9   weight  11369 non-null  float64
 10  age     2315 non-null   float64
 11  City    11374 non-null  object
 12  Year    11374 non-null  int64
 13  Season  11374 non-null  object
 14  Notes   0 non-null      float64
 15  Games   11374 non-null  object
dtypes: float64(4), int64(2), object(10)
memory usage: 1.4+ MB

In [ ]:
common_df.rename(columns={'code':'ID'},inplace=True)

In [ ]:
common_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11374 entries, 0 to 11373
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Medal   2315 non-null   object
 1   event   2315 non-null   object
 2   ID      11374 non-null  int64
 3   Sport   2315 non-null   object
 4   Name    11374 non-null  object
 5   Sex     11374 non-null  object
 6   NOC     11374 non-null  object
 7   Team    11374 non-null  object
 8   height  11371 non-null  float64
 9   weight  11369 non-null  float64
 10  age     2315 non-null   float64
 11  City    11374 non-null  object
 12  Year    11374 non-null  int64
 13  Season  11374 non-null  object
 14  Notes   0 non-null      float64
 15  Games   11374 non-null  object
dtypes: float64(4), int64(2), object(10)
memory usage: 1.4+ MB

In [ ]:
common_df.rename(columns={'age':'Age','height':'Height','event':'Event','Notes':'notes','weight':'Weight'},inplace= True)

In [ ]:
common_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11374 entries, 0 to 11373
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Medal   2315 non-null   object
 1   Event   2315 non-null   object
 2   ID      11374 non-null  int64
 3   Sport   2315 non-null   object
 4   Name    11374 non-null  object
 5   Sex     11374 non-null  object
 6   NOC     11374 non-null  object
 7   Team    11374 non-null  object
 8   Height  11371 non-null  float64
 9   Weight  11369 non-null  float64
 10  Age     2315 non-null   float64
 11  City    11374 non-null  object
 12  Year    11374 non-null  int64
 13  Season  11374 non-null  object
 14  notes   0 non-null      float64
 15  Games   11374 non-null  object
dtypes: float64(4), int64(2), object(10)
memory usage: 1.4+ MB

In [ ]:
common_df['region']=common_df['Team']

In [ ]:
common_df.head(10)

,Medal,Event,ID,Sport,Name,Sex,NOC,Team,Height,Weight,Age,City,Year,Season,notes,Games,region
0,Silver,Men's Greco-Roman 97kg,1532872,Wrestling,ALEKSANYAN Artur,Male,ARM,Armenia,0.0,0.0,33.0,Paris,2024,Summer,NaN,2024 Summer,Armenia
1,Bronze,Men's Greco-Roman 77kg,1532873,Wrestling,AMOYAN Malkhas,Male,ARM,Armenia,0.0,0.0,25.0,Paris,2024,Summer,NaN,2024 Summer,Armenia
2,NaN,NaN,1532874,NaN,GALSTYAN Slavik,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer,Armenia
3,NaN,NaN,1532944,NaN,HARUTYUNYAN Arsen,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer,Armenia
4,NaN,NaN,1532945,NaN,TEVANYAN Vazgen,Male,ARM,Armenia,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer,Armenia
5,NaN,NaN,1532951,NaN,ARENAS Lorena,Female,COL,Colombia,162.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer,Colombia
6,NaN,NaN,1533112,NaN,McKENZIE Ashley,Male,JAM,Jamaica,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer,Jamaica
7,NaN,NaN,1533136,NaN,BASS BITTAYE Gina Mariam,Female,GAM,Gambia,161.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer,Gambia
8,NaN,NaN,1533176,NaN,CAMARA Ebrahima,Male,GAM,Gambia,178.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer,Gambia
9,NaN,NaN,1533188,NaN,RUEDA SANTOS Lizeth,Female,MEX,Mexico,0.0,0.0,NaN,Paris,2024,Summer,NaN,2024 Summer,Mexico

In [ ]:
common_df.shape

(11374, 17)

In [ ]:
common_df.dtypes

Medal      object
Event      object
ID          int64
Sport      object
Name       object
Sex        object
NOC        object
Team       object
Height    float64
Weight    float64
Age       float64
City       object
Year        int64
Season     object
notes     float64
Games      object
region     object
dtype: object

In [ ]:
common_df.rename(columns={'disciplines':'Sport'},inplace = True)

In [ ]:
common_df.shape

(11374, 17)

In [ ]:
common_df['Sport'].isnull().sum()

9059

In [ ]:
common_df.to_csv('updated_Lucky_olympics_2024.csv', index=False)

In [ ]:
from google.colab import files
files.download('updated_Lucky_olympics_2024.csv')

In [ ]:
# common_df[common_df['Team']=='Hong Kong, China']

In [ ]:
# common_df.drop(columns=['Height','Weight','NOC'])

In [ ]:
filtered_df = common_df[(common_df['Medal'].notna()) & (common_df['Team'] == 'USA')].copy()

In [ ]:
# filtered_df.drop_duplicates(inplace = True)

In [ ]:
# filtered_df

In [ ]:
medal_df = filtered_df.drop_duplicates(subset=['Team','Games','Year','City','Sport','Event','Medal','NOC'])

In [ ]:
medal_df.shape

(53, 17)